<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA86FapgNRMLD_uf9SVyWVyBqjcQrQePTk</string>
	<key>GCM_SENDER_ID</key>
	<string>472882725540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madd.assignment.EduHub</string>
	<key>PROJECT_ID</key>
	<string>eduhub-9cf9f</string>
	<key>STORAGE_BUCKET</key>
	<string>eduhub-9cf9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472882725540:ios:5f186c18d76784bbbbdc31</string>
</dict>
</plist>